body, html {
   width: 100%;
   height: 100%
}
body {
   font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif
}
hr {
   max-width: 50px;
   border-width: 3px;
   border-color: #EC008C
}
hr.light {
   border-color: #fff
}
a {
   color: #EC008C;
   -webkit-transition: all .2s;
   -moz-transition: all .2s;
   transition: all .2s
}
a:hover {
   color: #EC008C
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.bg-primary {
   background-color: #EC008C!important
}
.bg-dark {
   background-color: #00AEEF!important
}
.text-faded {
   color: rgba(255, 255, 255, .7)
}
section {
   padding: 8rem 0
}
.section-heading {
   margin-top: 0
}
::-moz-selection {
   color: #fff;
   background: #00AEEF;
   text-shadow: none
}
::selection {
   color: #fff;
   background: #00AEEF;
   text-shadow: none
}
img::selection {
   color: #fff;
   background: 0 0
}
img::-moz-selection {
   color: #fff;
   background: 0 0
}
#mainNav {
   border-bottom: 1px solid rgba(33, 37, 41, .1);
   background-color: #fff;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
   -webkit-transition: all .2s;
   -moz-transition: all .2s;
   transition: all .2s
}
#mainNav .navbar-brand {
   font-weight: 700;
   text-transform: uppercase;
   color: #EC008C;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
   color: #EC008C
}
#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
   font-size: .9rem;
   font-weight: 700;
   text-transform: uppercase;
   color: #00AEEF
}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
   color: #EC008C
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
   color: #EC008C!important;
   background-color: transparent
}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
   background-color: transparent
}
@media (min-width:992px) {
   #mainNav {
      border-color: transparent;
      background-color: transparent
   }
   #mainNav .navbar-brand {
      color: rgba(255, 255, 255, .7)
   }
   #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fff
   }
   #mainNav .navbar-nav>li.nav-item>a.nav-link {
      padding: .5rem 1rem
   }
   #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
      color: rgba(255, 255, 255, .7)
   }
   #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover {
      color: #fff
   }
   #mainNav.navbar-shrink {
      border-bottom: 1px solid rgba(33, 37, 41, .1);
      background-color: #fff
   }
   #mainNav.navbar-shrink .navbar-brand {
      color: #EC008C
   }
   #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
      color: #EC008C
   }
   #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
      color: #00AEEF
   }
   #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover {
      color: #EC008C
   }
}
header.masthead {
   padding-top: 10rem;
   padding-bottom: calc(10rem - 56px);
   background-image: url(../img/header.jpg);
   background-position: center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover
}
header.masthead hr {
   margin-top: 30px;
   margin-bottom: 30px
}
header.masthead h1 {
   font-size: 2rem
}
header.masthead p {
   font-weight: 300
}
@media (min-width:768px) {
   header.masthead p {
      font-size: 1.15rem
   }
}
@media (min-width:992px) {
   header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0
   }
   header.masthead h1 {
      font-size: 3rem
   }
}
@media (min-width:1200px) {
   header.masthead h1 {
      font-size: 4rem
   }
}
.service-box {
   max-width: 400px
}
.portfolio-box {
   position: relative;
   display: block;
   max-width: 650px;
   margin: 0 auto
}
.portfolio-box .portfolio-box-caption {
   position: absolute;
   bottom: 0;
   display: block;
   width: 100%;
   height: 100%;
   text-align: center;
   opacity: 0;
   color: #fff;
   background: #00AEEF;
   -webkit-transition: all .2s;
   -moz-transition: all .2s;
   transition: all .2s
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
   position: absolute;
   top: 50%;
   width: 100%;
   transform: translateY(-50%);
   text-align: center
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category, .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
   padding: 0 15px;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
   font-size: 14px;
   font-weight: 600;
   text-transform: uppercase
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
   font-size: 18px
}
.portfolio-box:hover .portfolio-box-caption {
   opacity: 1
}
.portfolio-box:focus {
   outline: 0
}
@media (min-width:768px) {
   .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px
   }
   .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px
   }
}
.text-primary {
   color: #EC008C!important
}
.btn {
   font-weight: 700;
   text-transform: uppercase;
   border: none;
   border-radius: 300px;
   font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.btn-xl {
   padding: 1rem 2rem
}
.btn-primary {
   background-color: #EC008C;
   border-color: #EC008C;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
   color: #fff;
   background-color: #FFF200!important
}
.btn-primary:active, .btn-primary:focus {
   box-shadow: 0 0 0 .2rem rgba(240, 95, 64, .5)!important
}
.section-heading-2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
}
.list-group {
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 300px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
    background-color: #EC008C;
    border-color: #EC008C;
    color: #FFFFFF;
}
.carousel-caption h5 {
   text-align: center;
   font-size: 40px;
}
.custom-header h5 {
   text-align: center;
   color: #FFFFFF;
}
.custom-header p {
   text-align: center;
   color: #FFFFFF;
   font-size: 28px;
   font-family: 'Open Sans';
}
.copyright {
   bottom: 20px;
   position: absolute;
   clear: both;
   position: relative;
   z-index: 10;
   height: 3em;
   margin-top: -3em;
   text-align: center;
}
.big-text {
   font-size: 50px;
}
input, select, textarea {
   width: 100%;
   padding: 12px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 16px;
   resize: vertical;
}
.custom-form {
   color: #000000;
   padding: 20px;
   text-align: center;
   font-family: "Helvetica Neue";
}
.label {
   text-align: center;
   font-family: "Helvetica Neue";
   font-weight: 300;
}
input:invalid, input:focus:invalid, textarea:invalid, select:invalid {
   -moz-box-shadow: none;
   border: 2px solid #FFF200;
}
#collapseExample {
   background-color: #000000;
   color: white;
}
.collapse{
   text-align: center;
   display: inline-block;
}
.form-control-file {
    border-radius: .25rem
}
